.body{
  background-image: url("../images/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
}

//Estilo de clases principales de colores bootstrap
$theme-colors: (
  //"primary": red,
  //#2F75BA
);

$font-family-sans-serif: 'Cairo Regular';

.border-bold{
  border: 5px solid white;
}

.img-profile{
  width:150px;
  height: 150px;
  margin-top: -80px;
}

.form-label{
  font-family: 'Cairo Bold';
  letter-spacing: 1px;
}

.hr-dashed{
  border: 4px dashed white;
}

.w-100{
  width:100%;
}

.button-transparent{
  background-color: transparent !important;
  color: red;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.icon-eliminate{
  width: 30px;
}

.btn-no-style {
  background: none;
  border: 0;
  color:black;
  font: inherit;
  line-height: normal;
  -webkit-user-select: none; /* for button */
   //-webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
}

.btn-no-style:hover{
  color: #006fb4;
  text-decoration:none;
}

.btn-no-style:focus{
  outline: none !important;
  box-shadow: none;
}

// Import Bootstrap and its default variables
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./_fonts";
@import "./_login";